# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (venv)
venv/
env/

# Django secrets & environment variables
*.env
*.venv
.env.local
.env.production
config/settings/local.py
config/settings/prod.py

# Database files
db.sqlite3
*.db

# Media and static files
/media/
staticfiles/

# Logs and debug files
*.log
logs/
debug.log
*.out

# Compiled files
*.pyc
*.pyo
*.pyd
*.swp

# Ignore .migrations for cleaner repo (optional)
**/migrations/** 
!**/migrations/__init__.py

# IDE files (VSCode, PyCharm, JetBrains)
.vscode/
.idea/
*.sublime-workspace

# MacOS & Linux system files
.DS_Store
Thumbs.db
